* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: rgb(37, 57, 94);
}

.App {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
  font-family: Latp, sans-serif;
  flex-direction: column;
  margin: 10px;
}

.logo {
  width: 100%;
  height: 150px;
  width: 135px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: black;
  border-width: 10px;
  background-color: black;
  padding: 1px;
  border-radius: 70%;
}

.contenedor {
  height: 500px;
  min-width: 600px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.botones {
  flex-direction: row;
}
